<div class="demo-container demo-layout-transparent">
  <mdl-layout mdl-layout-fixed-header
              mdl-layout-header-seamed>
    <mdl-layout-header>
      <mdl-layout-header-row>
        <mdl-layout-title>Linux Window Session Manager</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
        <!--<nav class="mdl-navigation">-->
        <!--<a class="mdl-navigation__link">Save new session</a>-->
        <!--</nav>-->
      </mdl-layout-header-row>
    </mdl-layout-header>

    <mdl-layout-content>
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </mdl-layout-content>
  </mdl-layout>
</div>
