<div class="demo-container demo-layout-transparent">
  <mdl-layout #mdlLayout1="mdlLayout">
    <mdl-layout-header>
      <mdl-layout-header-row>
        <mdl-layout-title>Linux Window Session Manager</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link">Save new session</a>
        </nav>
      </mdl-layout-header-row>
    </mdl-layout-header>

    <mdl-layout-content>
      <!--<router-outlet></router-outlet>-->

      <div *ngFor="let session of sessions">
        <h4>{{ session.name}}</h4>
        <div *ngFor="let display of session.displaysCombinations">
          <h4>{{ display.id }}</h4>
          <div *ngFor="let win of display.windowList">
            {{ win|json}}
          </div>
        </div>
      </div>

    </mdl-layout-content>
  </mdl-layout>
</div>
<button mdl-button
        (click)="mdlLayout1.toggleDrawer()"
        mdl-button-type="raised"
        mdl-colored="primary">Toggle Drawer
</button>
